body{
    --color-primary: #009579;
    --color-primary-dark: #007f69;
    --color-secondary:#252c6a;
    --color-error:#cc3333;
    --color-success:#4bb544;
    --border-radius:4px;

    margin:1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    /*background:url(./background.jpg);background-size:cover;*/
    text-align: center;
    font: 500 1rem 'Quicksand', sans-serif;
}
.container{
    width: 400px;
    max-width: 400px;    
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background:#ffffff ;
}
.form-msg-success{
    color: var(--color-success);
}
.form-msg-err{
    color: var(--color-error);
}
.form_input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form_input-err-msg {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

button.btn {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}
.register{
    width: 50%;
    border-radius: 20px 0px 0px 20px;
}

.login{
    width: 50%;
    border-radius: 0px 20px 20px 0px;
}
.btn:hover {
    background: var(--color-primary-dark);
}

.form-link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}
.active{
    background: red
}
.form-link:hover {
    text-decoration: underline;
}
.form-hidden{
    display: none;
}

.head>div{
    width: 50%;
    
    float: left;
    text-align: center;
    background-color: #ddd;
    cursor: pointer;
}
